body {
    background: white;
}

.titulo-principal {
    text-align: left;
    padding-left: 20px;
}

#banner {
    width: 100%;
}

.sobre-barbearia {
    background-color: azure;
}

.titulo-centralizado {
    border: 5px solid #59028b;
    text-align: center;
}
p {
    text-align: center;
}

em strong {
    color: rgb(1, 11, 148);
}

.lista {
    text-align: center;
    
}